1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [12]:
#point a)
print("Point a): prints numbers from 1 to 100 with substitutions: ")
for i in range(1,101): 

    if i % 15 == 0 :
        print("HelloWorld")
    
    elif i % 3 == 0: 
        print("Hello")
    
    elif i % 5 == 0:
        print("World")
        
    else: 
        print(i)
        
print("")




#point b): let's insert the elements in a list in order to modify them, then insert the result in a tuple
print("Point b)")
lista = []
for i in range(1,101): 

    if i % 15 == 0 :
        lista.append("HelloWorld")
    
    elif i % 3 == 0: 
        lista.append("Hello")
    
    elif i % 5 == 0:
        lista.append("World")
        
    else: 
        lista.append(i)


for i in lista:
    if i == "Hello":
        lista[lista.index(i)] = "Python" #reassign elements
    
    elif i == "World":
        lista[lista.index(i)] = "Works"
        
    
#convert the list in a tuple
unaTupla = tuple(lista)

print("Print tuple elements: ")
print(unaTupla)

Point a): prints numbers from 1 to 100 with substitutions:
1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

Point b)
Print tuple elements:
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [13]:
#with temporary variable
def swap(x, y):
    temp = x
    x = y
    y = temp
    return x, y

x = 5
y = 12
print(swap(x, y))

(12, 5)

In [14]:
#without temporary variable
def swap2(x, y):
    return y, x

x = 5
y = 12

print(swap2(x,y))

(12, 5)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [15]:
def distEuclidean(u, v):
    d1 = (u[0] - v[0]) ** 2
    d2 = (u[1] - v[1]) ** 2
    distance = (d1 + d2) **0.5
    return distance
    

u = (3, 0)
v = (0, 4)

distance = distEuclidean(u, v)
print("The euclidean distance between the points u =", u, " and v =", v, "is:", distance)

The euclidean distance between the points u = (3, 0)  and v = (0, 4) is: 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [16]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

characters = [x for x in s]#list with all characters of s

#assigning capital letters to small letters in order to ignore differences in capitalization
for i in characters:
    if i == "W":
        characters[characters.index(i)] = "w"
    elif i == "B":
        characters[characters.index(i)] = "b"
    elif i == "H":
        characters[characters.index(i)] = "h"
    elif i == "F":
        characters[characters.index(i)] = "f"

        
letters = [] #list with all the characters taken just one time 
for i in characters:
    if i not in letters:
        letters.append(i)

        
#counting how many times the elements of the list "letters" appears in the string s
for x in letters:
    c = characters.count(x)
    print("The character ", x, " appears ", c, " times")

The character  w  appears  4  times
The character  r  appears  19  times
The character  i  appears  12  times
The character  t  appears  19  times
The character  e  appears  20  times
The character     appears  41  times
The character  a  appears  7  times
The character  p  appears  8  times
The character  o  appears  15  times
The character  g  appears  1  times
The character  m  appears  8  times
The character  h  appears  11  times
The character  n  appears  10  times
The character  s  appears  7  times
The character  u  appears  7  times
The character  b  appears  5  times
The character  f  appears  10  times
The character  1  appears  2  times
The character  0  appears  2  times
The character  .  appears  3  times
The character  l  appears  12  times
The character  d  appears  5  times
The character  v  appears  2  times
The character  c  appears  1  times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [17]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique(lista):
    unique = []
    for i in lista:
        if i not in unique:
            unique.append(i)
    print("List of the unique numbers:")
    print(unique)
    print("")
    for x in unique:
        c = l.count(x)
        print("The number", x, "appears", c, "times in the list l.")


unique(l)

List of the unique numbers:
[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

The number 36 appears 3 times in the list l.
The number 45 appears 3 times in the list l.
The number 58 appears 1 times in the list l.
The number 3 appears 2 times in the list l.
The number 74 appears 1 times in the list l.
The number 96 appears 1 times in the list l.
The number 64 appears 1 times in the list l.
The number 31 appears 2 times in the list l.
The number 10 appears 1 times in the list l.
The number 24 appears 1 times in the list l.
The number 19 appears 1 times in the list l.
The number 33 appears 1 times in the list l.
The number 86 appears 1 times in the list l.
The number 99 appears 1 times in the list l.
The number 18 appears 1 times in the list l.
The number 63 appears 2 times in the list l.
The number 70 appears 3 times in the list l.
The number 85 appears 3 times in the list l.
The number 47 appears 1 times in the list l.
The number 56 appears 2 times in the list l.
The number 42 appears 2 times in the list l.
The number 84 appears 4 times in the list l.
The number 88 appears 1 times in the list l.
The number 55 appears 1 times in the list l.
The number 20 appears 3 times in the list l.
The number 54 appears 1 times in the list l.
The number 8 appears 1 times in the list l.
The number 51 appears 3 times in the list l.
The number 79 appears 1 times in the list l.
The number 81 appears 1 times in the list l.
The number 57 appears 1 times in the list l.
The number 37 appears 1 times in the list l.
The number 91 appears 3 times in the list l.
The number 1 appears 1 times in the list l.
The number 66 appears 2 times in the list l.
The number 9 appears 1 times in the list l.
The number 89 appears 2 times in the list l.
The number 50 appears 2 times in the list l.
The number 95 appears 1 times in the list l.
The number 90 appears 1 times in the list l.
The number 98 appears 1 times in the list l.
The number 39 appears 1 times in the list l.
The number 16 appears 1 times in the list l.
The number 82 appears 1 times in the list l.
The number 92 appears 1 times in the list l.
The number 41 appears 1 times in the list l.
The number 30 appears 1 times in the list l.
The number 34 appears 2 times in the list l.
The number 94 appears 1 times in the list l.
The number 5 appears 1 times in the list l.
The number 72 appears 1 times in the list l.
The number 87 appears 1 times in the list l.
The number 75 appears 1 times in the list l.
The number 53 appears 1 times in the list l.

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [18]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

#I can use data sets
myset = set(l)
another_list = list(myset)
print("Without using user-defined functions: ")
print(another_list)

Without using user-defined functions:
[1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [19]:
def square(x):
    square = x*x
    return square

def cube(x):
    cube = x*x*x
    return cube

def six_power(x):
    result = square(cube(x))
    return result

x = 5
print("x =", x)
print("Square of x:", square(x))
print("Cube of x:", cube(x))
print("6th power of x:", six_power(x))

x = 5
Square of x: 25
Cube of x: 125
6th power of x: 15625

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [20]:
#define a function that returns the cube of a value
def cube(x):
    cube = x*x*x
    return cube

#point a): use of a for loop
alist = []
for x in range(0,11):
    alist.append(cube(x))

print("Result point a): ", alist)

#point b): use of list comprehension
list_b = [cube(x) for x in range(0,11)]
print("Result point b): ", list_b)

Result point a):  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
Result point b):  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [21]:
n = 100

list_triples = [(a, b, c) for c in range(n+1) for b in range(c) for a in range(b) if c*c == a*a + b*b]
#print(list_triples)

#in order to take only the unique triples I can use sets: 
#pyth_set = set(list_triples)
Pythagorean_tuple = tuple(list_triples)

print("All the Pythagorean triples listed in a tuple: ")
print(Pythagorean_tuple)

All the Pythagorean triples listed in a tuple:
((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97), (60, 80, 100), (28, 96, 100))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [22]:
def normalization(atuple):
    blist = []*len(atuple)
    for i in range(0,len(atuple)):
        blist.append(atuple[i]/atuple[i])
    btuple = tuple(blist)
    return btuple

a = (3, 4, 6, 8)
b = normalization(a)
print("The initial tuple is:", a)
print("Normalizing we get: ", b)

The initial tuple is: (3, 4, 6, 8)
Normalizing we get:  (1.0, 1.0, 1.0, 1.0)